@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background-size: cover;
    background-attachment:fixed ;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/053/890/192/4k/dominik-mayer-dragonknight-wip2-full.jpg?1663256582");
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

header p{
    margin-left: 40px;
    margin-top: -40px;
}

header{
    position: absolute;
}

header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    transition: .2s ease-in-out;
}

header a:hover{
    font-size: 18px;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 34px;
    border-radius: 15px;
}

.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 40px 20px 40px;
    font-family: "Poppins";
}

.title h2{
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.title p{
    color: rgba(128, 128, 128, 0.781);
    font-size: 14px;
}

.input-field{
    display: flex;
    flex-direction: column;
    padding: 10px 50px 10px 0px;
    margin-left: 20px;
}

.input-field label{
    color: black;
    font-weight: 600;
    font-size: 12px;
    width: 0;
}

.form-control{
    border: none;
    border-radius: 6px;
    padding: 16px 0px 5px 5px;
    line-height: 20px;
}

#vita{
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 25px;
}

.remember-forgot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

.remember-forgot a{
    font-family: "Poppins";
    font-weight: 600;
    text-decoration: none;
    color: rgb(168, 39, 39);
    font-size: 12px;
}

#text-here{
    font-weight: 600;
    font-size: 12px;
    color: black;
}

#submit-btn{
    color: black;
    font-weight: 600;
    font-family: "Poppins";
    border-radius: 8px;
    padding: 12px 0px;
    margin: 20px 0px;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    transition: .2s ease-in-out;
    display: inline-block;
    border: none;
}

#submit-btn:hover{
    background-color: rgb(165, 15, 15);
    color: #fff;
    box-shadow: 10px 10px 5px rgba(54, 54, 54, 0.767);
}

#google-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-family: "Poppins";
}

#login-callout{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    padding: 5px;

}

#login-callout a{
    text-decoration: none;
    color: rgb(165, 15, 15);
}

#login-callout a:hover{
    text-decoration: underline;
}


